:root {
    --main-color: #1F1D2C;
    --secondary-color: #242635;
    --icon-color: #F1A600;
    --selector-color: #959393;
    --letter-color: #FFFFFF;
}
html {
    background-color: var(--main-color);
  }

body{
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 400;
}
h1 {
    color: var(--letter-color);
    font-size: 80px;
    font-weight: 600;
    margin: -1px;
  }

  h2 {
    color: var(--letter-color);
    font-size: 40px;
    font-weight: 600;
    
  }
  p {
    color: var(--selector-color);
    font-size: 18px;
    font-weight: 400;
    margin: -1px;
  }
  label{
    color: var(--selector-color);
    font-size: 18px;
    font-weight: 400;
    margin: -1px;
  }
  
  @media (max-width: 480px) {
    h1 {
      font-size: 50px;
    }
    h2 {
      font-size: 32px;
    }
    p {
      font-size: 18px;
    }
    label {
      font-size: 16px;
    }
  }
header nav a {
    font-size: 18px;
    text-decoration: none;
    color: var(--selector-color);
  }

  header p {
    color: var(--selector-color);
    font-size: 16px;
  }
  .desktop-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 15px;
    margin-bottom: 15px;
    
}
  @media (max-width: 480px) {
    .desktop-menu {
      display: none;
    }
  }
  
  .mobile-menu {
    display: none;
  }
  
  @media (max-width: 480px) {
    .mobile-menu {
      display: flex;
      justify-content: flex-end;
      padding: 10px;
      color: var(--selector-color);
    }
  }
  .nav-small {
    padding-left: 160px;
    margin: 15px ;
    font-size: 18px;
  }
  
  .nav-small a {
    margin-left: 50px;
    margin-bottom: 10px;
  }
  .btn {
    color: var(--icon-color);
 }
 .about-section {
    display: grid;
    grid-template-columns: 45% 55%;
  }

  .about-section > div {
    margin-top: 35px;
    
  }
    
  .about-content {
    padding: 0px 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .about-content img {
    width: 90%;
  }
  .grid-items{
    margin-top: 30px;
    height: 10px;
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    justify-content: left;
    align-content: flex-start;
  }
  .icon{
    height: 40px;
    margin-right: 100px;
    
  }
  main {
    background-color: var(--secondary-color);
    margin: 50px 0px ;
    padding: 50px 50px;
  }
@media (max-width: 480px) {
    .about-section {
      margin-top: -80px;
      width: 430px;
      display: flex;
      flex-direction: column;
      align-items: center;    
    }
    .about-section div{
      padding: 5%;
    }
    .icon{
      margin-top: -20px;
      margin-left: -10px ;
    }
    .about-content {
     padding-bottom: 1px;
    }
    main {
      background-color: var(--secondary-color);
      margin: 50px 0px ;
      padding: 50px 50px;
    }
}

  .section-one {
    height: 50vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    text-align: center; 
    }
    
  .items{
    justify-content: center;
    align-items: center;
  }

  .about-forme {
   grid-column: 2 / 4;
   padding: 5px;
   margin-top: -50px;
   display: flex;
   flex-direction: column;
   align-items: left;
   text-align: center;
}
.about-forme h2{
  padding-bottom: 1%;
  margin-bottom: 1%;
}
.about-forme p{
  padding-bottom: 5%;
  margin-bottom: 5%;
}
.article-image img {
  width: 30%;
  margin-left: 10px;
}

.article-content {
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 10px;
}
.article-content h2 {
  padding: 0%;
  margin: 0%;
}
@media (max-width: 480px) {
  #acercade{
    padding: 10px;
  }
  .section-one {
    height: 100vh;
    display: flex;
    flex-direction: column;
    }
    
  .items{
    justify-content: center;
    align-items: center;
  }

  .about-forme {
    font-size: 16px;
   padding: 35px;
   margin-top: -40px;
   display: flex;
   flex-direction: column;
   text-align: center;
}
.about-forme h2{
  padding-bottom: 5%;
}
.about-forme p{
  padding: 5px 15px;
  margin: 5px 5px;
}
.article-image img {
  width: 20%;
  margin-top: 35px;
}

.article-content {
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 10px;
}
.article-content h2 {
  padding: 0%;
  margin: 0%;
}
}

.section-two {
  background-color: var(--main-color) ;
  height: 60vh;
  display: grid;
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: repeat(4, 1fr);
  text-align: left;
  }
  .experience{
    text-align: center;
    margin-top: -60px;
    
  }
  .items-experience{
    margin-top: -70px;
  }
  .aling-content{
  display: flex;
  justify-content: space-between;
  }
  
  .aling-content img{
    margin-left: 50px;
    width: 56px;
  }

.aling-content h2{
 padding-left: 20px;
 margin: 10px -10px 0px;
 text-align: left;
}
.content-aling label{
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
.aling-content p{
   flex-direction: row;
    height: 40px;
    padding-top: 45px;
    margin-left: 120px;
    text-align: left;
}

@media (max-width: 480px) {
  .section-two {
    height: 100vh;
    background-color: var(--main-color) ;
    display: flex;
    flex-direction: column;
    align-items: center; 
    }
    .items-experience{
      margin-top: -70px;
    }
    .aling-content{
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
    margin-left: 35px;
    }
    
    .aling-content img{
      margin-left: -65px;
      margin-top: 70px;
      padding: 10px;
      height: 56px;
    }
  .aling-content h2{
  font-size: 32px;
   padding-left: 30px;
   margin: 70px -20px 0px;
   text-align: left;
  }
  .content-aling label{
    font-size: 16px;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
  }
  .aling-content p{
     flex-direction: row;
      height: 40px;
      padding-top: 85px;
      margin-left: 100px;
      text-align: left;
  }
}
.section-tree {
  height: 100vh;
  width: auto;
  background-color: var(--main-color) ;
  display: grid;
  grid-template-columns: 50% 50%;
  text-align: left;
  position: relative;
  }
 .about-color{
  width: 100%;
  background-color: var(--secondary-color) ;
 }
 .content-center{
  display: flex;
  flex-direction: column;
  z-index: 1;
  position: absolute;
  width: 70%;
  height: 80%;
  top: 65px;
  left: 250px;
  text-align: left;
  padding-left: 10px;
 }
 .content-center h2{
  text-align: center;
  margin-top: -20px;
 }
 .items-section-tree{
  margin-left: 100px;
  height: 100%;
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
 }
 .items-section-tree p{
  font-size: 22px;
  margin-left: 105px;
 }
 section{
  margin-bottom: 120px;
 }
 section h2{
  text-align: center;  
  padding-bottom: 50px;
  
 }
 @media (max-width: 480px) {
  .section-tree {
  height: 100vh;
  width: auto;
  background-color: var(--main-color) ;
  display: grid;
  grid-template-columns: 50% 50%;
  text-align: left;
  position: relative;
  }
  .content-center{
    display: flex;
    flex-direction: column;
    z-index: 1;
    position: absolute;
    width: 70%;
    height: 80%;
    top: 55px;
    left: -55px;
    
   }
   .content-center h2{
    text-align: left;
    font-size:32px;
    margin-left: 150px;
    margin-bottom: 0%;
    padding-bottom: 0%;
   }
   .items-section-tree{
    margin-left: 100px;
    margin-right: 50px;
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
   }
  .items-section-tree p{
    
    font-size: 16px;
  }
}


.section-for{
  background-color: var(--main-color) ;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  text-align: left;
  gap: 50px 15px;
  padding: 10px 150px;
  
 }
 .yellow{
  background-color: var(--icon-color) ;
 }
 .dark{
  background-color: var(--secondary-color) ;
 }

 .section-for img{
  height: 290px;
  width: 460px;
  z-index: 1;
  position: absolute;
  padding: 25px 25px;
 }

 @media (max-width: 480px) {
  section h2{
    margin-bottom: 0px;
  }
  .section-for{
    background-color: var(--main-color) ;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 100% ;
    gap: 30px;
    padding: 10px 10px ;
   }
   .section-for div{
    height: 250px;
   }
   .section-for img{
    height: 248px;
    width: 345px;
    z-index: 1;
    position: absolute;
    padding: 15px 5px 0px 5px;
   }
}

 .section-five {
  height: 20vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  text-align: center; 
  }
 .items-title{
  grid-column: 2 / 4;
  padding-top: 20px;
  margin-top: -80px;
  margin-bottom: -40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
 }
 .contac-icos img {
  margin-top: -1px;
  width: 20%;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: -40px;
}
.contac-content {
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.contac-content a{
  color: var(--letter-color);
  margin-top: -70px;
}
@media (max-width: 480px) {
  #contacto {
    height: 60vh;
    margin-top: 350px;
    padding: 15px;
  }
  .items-title{
    margin-top: -50px;
    margin-bottom: -60px;
    margin-left: -10px;
    display: flex;
    align-items: center;
    text-align: center;
   }
  .section-five{
    display: flex;
    flex-direction: column;   
   }
   .contac-icos img {
    align-items: center;
    margin-top: 30px;
    margin-bottom: -28px;
    width: 40px;    
  }
  .contac-content a{
    color: var(--letter-color);
    margin-top: -40px;
  }
  
}


footer{
  height: 10vh;
  padding: 10px;
  text-align: center;
}

@media (max-width: 480px) {
  footer{
    margin-top: -50px;
    background-color: var(--secondary-color);
  }
}